<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131753800-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131753800-19');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Portable Tamping Rammer Machine Supplier ,Portable Tamping Pickaxe Supplier | Tiekang Machinery</title>
    <meta name="keywords" content="Portable Tamping Rammer Machine Supplier ,Portable Tamping Pickaxe Supplier | Tiekang Machinery">
    <meta name="description" content="Hebei Tiekang Machinery Equipment Co., Ltd. established in 2015, specializes in the development and production of portable tamping machines.">
    <meta http-equiv="expires" content="12/23/2018 9:57:29 PM">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/tiekang.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/style.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/slider-pro.css">

  </head>
<!--  -->
  <body>
    <div class="zt ov topp">
      <div class="fl logo">
        <a href="/">
          <%= image_tag("logo.jpg", alt: "Hebei Tiekang Machinery Equipment Co., Ltd.", class: "fl", style: "height: 90; width: 90px") %>
          <span class="fl">Hebei Tiekang Machinery & Equipment Co., Ltd.</span>
        </a>
      </div>
      <div class="fr shequ">
        <a class="md-trigger" data-modal="modal-10" href="#">
          <%= image_tag("sou.jpg") %>
        </a>
        <a href="https://www.facebook.com/HEBEI-TieKang-Machinery-equipment-CO-Ltd-544725522716744" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
        <a href="https://www.linkedin.com/company/19140055/admin/" class="fa fa-linkedin" target="_blank" rel="nofollow"></a>
        <a href="https://twitter.com/PingYu33014387" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
      </div>
      <div class="md-modal md-effect-10" id="modal-10">
        <div class="md-content">
          <h3>Search Product</h3>
          <div>
            <p>Search here for what you are looking for:</p>
            <ul>
              <li>
                <form id="form0">
                  <input type="text" class="messtex" placeholder="Search..." name="keys" id="keys">
                  <input type="hidden" name="path0" id="path0" value="/">
                  <input type="button" value="GO" class="gogo" onclick="searchsubmit();">
                </form>
              </li>
              <li>
                <strong>Hot:</strong>
                <a href="/Portable-Tamping-Pickaxe">Portable Tamping Pickaxe</a>
              </li>
            </ul>
            <button class="md-close">Close me!</button>
          </div>
        </div>
      </div>
      <div class="md-overlay"></div>
    </div>
    <nav>
      <div class="caidan">
        <span class="fa fa-bars"></span>
      </div>
      <ul class="zt">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to "Company", controller: "welcome", action: "company" %></li>
        <li>
          <%= link_to "Products", controller: "welcome", action: "products" %><i class="fa fa-angle-down"></i>
          <div class="xla">
            <%= link_to "Portable Tamping Pickaxe", controller: "welcome", action: "portable_tamping_pickaxe" %>
          </div>
        </li>
        <li><%= link_to "Factory", controller: "welcome", action: "factory" %></li>
        <li><%= link_to "News", controller: "welcome", action: "news" %></li>
        <li><%= link_to "Certificate", controller: "welcome", action: "case" %></li>
        <li><%= link_to "Contact Us", controller: "welcome", action: "contact_us" %></li>
      </ul>
    </nav>

    <div class="flicker-example flickerplate animate-transition-slide flicker-theme-light" data-block-text="false" data-flick-position="1">
      <div class="dot-navigation center">
        <ul>
          <li>
            <div class="dot"></div>
          </li>
          <li>
            <div class="dot active"></div>
          </li>
          <li>
            <div class="dot"></div>
          </li>
        </ul>
      </div>
      <div class="arrow-navigation left">
        <div class="arrow"></div>
      </div>
      <div class="arrow-navigation right">
        <div class="arrow"></div>
      </div>
      <ul class="flicks" style="left:-100%;">
        <li data-background="/public/images/banner1.jpg" alt="Products" class="first-flick" style="background-image: url('/public/images/banner1.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
              <%= link_to "Products", controller: "welcome", action: "products" %>
            </div>
          </div>
        </li>
        <li data-background="/public/images/banner2.jpg" alt="Products" style="background-image: url('/public/images/banner2.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
            </div>
          </div>
        </li>
        <li data-background="/public/images/banner2.jpg" alt="Products" style="background-image: url('/public/images/banner2.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
              <%= link_to "Products", controller: "welcome", action: "products" %>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="zt ov product">
      <div class="protit">PRODUCT CENTER</div>
      <ul class="fenlei">
        <li>
          <%= link_to "Portable Tamping Pickaxe", controller: "welcome", action: "products" %>
        </li>
      </ul>
      <div class="owl-carousel owl-theme" id="owl1" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 4000px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
            <div class="owl-item" style="width: 400px;">
              <div class="item">
                <!-- <a href="/Calcium-Silicate-Board-Production-Line-Equipment/Calcium-Silicate-Board-Production-Line-Equipment-1.html" class="pre"> -->
                  <div class="img">
                    <%= image_tag("prod_line.jpg", alt: "Calcium Silicate Board Production Line Equipment") %>
                  </div>
                  <div class="abst">
                    <h3>Portable Tamping Pickaxe Production Line Equipment</h3>
                    <span class="spannr">The production line of high-strength, lightweight compartments.</span>
                    <i><span>+</span></i>
                  </div>
                <!-- </a> -->
              </div>
            </div>
            <div class="owl-item" style="width: 400px;">
              <div class="item">
                <!-- <a href="/Light-Mineral-Wool-Board-Production-Line-Equipment/Light-Mineral-Wool-Board-Production-Line-Equipment-2.html" class="pre"> -->
                  <div class="img">
                    <%= image_tag("assemble.jpg", alt: "Light Mineral Wool Board Production Line Equipment") %>
                  </div>
                  <div class="abst">
                    <h3>Portable Tamping Pickaxe Assemble Line Equipment</h3>
                    <span class="spannr">Assembling on precise instruments to ensure product quality</span>
                    <i><span>+</span></i>
                  </div>
                <!-- </a> -->
              </div>
            </div>
            <div class="owl-item" style="width: 400px;">
              <div class="item">
                <!-- <a href="/Gypsum-Powder-Production-Line-Equipment/Gypsum-Powder-Production-Line-Equipment-3.html" class="pre"> -->
                  <div class="img">
                    <%= image_tag("qa.jpg", alt: "Gypsum Powder Production Line Equipment") %>
                  </div>
                  <div class="abst">
                    <h3>Portable Tamping Pickaxe Product Experiment</h3>
                    <span class="spannr">Performing quality assurance on a simulated real railway subgrade.</span>
                     <i><span>+</span></i>
                  </div>
                <!-- </a> -->
              </div>
            </div>
            <div class="owl-item" style="width: 400px;">
              <div class="item">
                <!-- <a href="/Paperless-Gypsum-Board-Production-Line-Equipment-fiberglass-Board-Equipment/Paperless-Gypsum-Board-Production-Line-Equipment-Fiberglass-Board-Equipment-4.html" class="pre"> -->
                  <div class="img">
                    <%= image_tag("prod_line.jpg", alt: "Paperless Gypsum Board Production Line Equipment (Fiberglass Board Equipment)") %>
                  </div>
                  <div class="abst">
                    <h3>Paperless Gypsum Board Production Line Equipment (Fiberglass Board Equipment)</h3>
                    <span class="spannr">Paperless gypsum board is the fiber gypsum board (or gypsum fiberboard, paperless gypsum board) is a...</span>
                    <i><span>+</span></i>
                  </div>
                <!-- </a> -->
              </div>
            </div>
            <div class="owl-item" style="width: 400px;">
              <div class="item">
                <!-- <a href="/Gypsum-Board-Production-Line-Equipment/Gypsum-Board-Production-Line-Equipment-5.html" class="pre"> -->
                  <div class="img">
                    <%= image_tag("assemble.jpg", alt: "Gypsum Board Production Line Equipment") %>
                  </div>
                  <div class="abst">
                    <h3>Gypsum Board Production Line Equipment</h3>
                    <span class="spannr">The progress of the project construction, project approval, process layout, civil construction, equi...</span>
                    <i><span>+</span></i>
                  </div>
                <!-- </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="owl-controls clickable">
          <div class="owl-buttons">
            <div class="owl-prev">&lt;</div>
            <div class="owl-next">&gt;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="zt compant">
      <div class="comtit">COMPANY</div>
      <div class="fl linkjie">
        <div class="lian">
          <%= link_to image_tag("tu1.jpg", alt: "Contact Us"), controller: "welcome", action: "contact_us" %>
          <%= link_to image_tag("tu2.jpg", alt: "Factory"), controller: "welcome", action: "factory" %>
          <%= link_to image_tag("tu3.jpg", alt: "Certificate"), controller: "welcome", action: "case" %>
        </div>
        <div class="more">
          <%= link_to image_tag("more.jpg", alt: "Company"), controller: "welcome", action: "company" %>
        </div>
      </div>
      <div class="fl shipin">
        <div id="a1" class="video_index" style="background-color: rgb(0, 0, 0); cursor: pointer;">
          <video controls="controls" src="/public/test.mp4" id="ckplayer_a1" style="width:100%;height:100%" loop="loop" poster="/public/images/shipin.jpg" webkit-playsinline=""></video>
        </div>
        <script type="text/javascript" src="/public/javascripts/ckplayer.js"></script>
      </div>
      <div class="fr jianjie">
        <h2>Hebei Tiekang Machinery Equipment Co., Ltd.</h2>
        <span>

        Hebei Tiekang Machinery Equipment Co., Ltd. specializes in the development and production of portable tamping machines. Since the establishment of the company, we have great achievement relying on strong technical background resources in the professional field. The company has exclusive patent for products. After identification, the products are highly recognized by national railway experts. The portable tamping machine produced by the company solves the problems that haven’t been solved for many years in the field of railway maintenance.</span>
      </div>
    </div>
    <div class="case">
      <div class="zt caselist">
        <ul>
          <li>
            <div class="fl catit">CASE</div>
            <div class="fr cacon">The indicators by CRCC are superior to similar products. The large reduction of the failure rate, through the multi-stage vibration reduction design, improve the operator operating environment, welcomed by front-line workers, has been widely used in the Beijing Municipal Bureau of various work</div>
          </li>
          <li>
            <%= link_to image_tag("c1.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("c2.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("c3.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("ISO9001-EN.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("ISO9001-CN.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("ip1.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("ip2.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("rongyu1.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("rongyu2.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
          <li>
            <%= link_to image_tag("c9.jpg", alt: "Case"), controller: "welcome", action: "case" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="news">
      <div class="zt ov">
        <div class="fl newtit">
          <div class="tith">Latest News Media Reports</div>
          <span>NEWS CENTER</span>
          <a href="/news/">view more &gt;&gt;</a>
        </div>
        <ul class="fr newlist">
          <li>
            <a href="/news/20191026">
              <span class="riqi">32</span>
              <h2>portable tampingrammer machine for  sale</h2>
              <div class="img">
                <%= image_tag("20190606.jpg", alt: "high speed rail Portable Railway Tamper") %>
              </div>
              <span class="newcon">
                <a href="/Portable-Tamping-Pickaxe"><b>Portable Ballast Tamping Pickaxe</b></a>
              </span>
              <i><%= image_tag("jiantou.jpg") %></i>
            </a>
          </li>
          <li>
            <a href="/news/20191021">
              <span class="riqi">31</span>
              <h2>railway ballast tamper rail tamping rammer machine </h2>
              <div class="img">
                <%= image_tag("20190416.jpg", alt: "wholesale Portable Tamping Pickaxe") %>
              </div>
              <span class="newcon">
                <a href="/Portable-Tamping-Pickaxe"><b>Tamping Pickaxe</b></a>is characterized by strong power, reliable operation, no external energy, special isolation protective housing and the overall operation handle.
              </span>
              <i><%= image_tag("jiantou.jpg") %></i>
            </a>
          </li>
          <li>
            <a href="/news/20190808">
              <span class="riqi">30</span>
              <h2>Portable Tamping Pickaxe supplier</h2>
              <div class="img">
                <%= image_tag("20190412.jpg", alt: "Buy portable tamping machines") %>
              </div>
              <span class="newcon"><a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Pickaxe supplier</b></a> Portable Tamping Pickaxe  Feature:
                  It is used to clearing of concrete damaged road,manhole covers in the field of road and public project.</span>
              <i><%= image_tag("jiantou.jpg") %></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="messa">
      <div class="zt ov">
        <div class="fl mestit">
        <h2>MESSAGE</h2>
        <span>If you have any questions, please contact us</span> </div>
        <div class="fr messanei">
          <%= form_tag({controller: "welcome", action: "message"}, method: "get", id: "form2") do %>
            <input type="tel" placeholder="Tel" name="Tel" id="ContactWay2" class="tt fl">
            <input type="email" placeholder="Email" name="Email" id="Email2" class="tt fl">
            <textarea class="neir" placeholder="Content" name="Content" id="Content2"></textarea>
            <input type="hidden" name="Paths" id="Paths2" value="/">
            <input type="hidden" name="Product" value="Hebei Tiekang Machinery Equipment Co., Ltd">
            <input type="submit" class="fl tijiao" id="" value="SEND">
          <% end %>
        </div>
      </div>
    </div>
    <footer>
      <div class="zt ov">
        <ul class="fl daohang">
          <li><a href="/"><i class="fa fa-angle-right"></i>Home</a></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Company'), controller: "welcome", action: "company" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Products'), controller: "welcome", action: "products" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Factory'), controller: "welcome", action: "factory" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>News'), controller: "welcome", action: "news" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Certificate'), controller: "welcome", action: "case" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Contact-Us'), controller: "welcome", action: "contact_us" %></li>
        </ul>
        <ul class="fl daohang">
          <li>
            <%= link_to raw('<i class="fa fa-angle-right"></i>Portable Tamping Pickaxe'), controller: "welcome", action: "portable_tamping_pickaxe" %>
          </li>
        </ul>
        <ul class="fr xinxi">
          <li><i class="fa fa-angle-right"></i><span>Hebei Tiekang Machinery Equipment Co., Ltd.</span></li>
          <li><i class="fa fa-angle-right"></i><span>Tel : +86-13933089519</span></li>
          <li><i class="fa fa-angle-right"></i><span>Mobile : +86-13933089519</span></li>
          <li><i class="fa fa-angle-right"></i><span>Contact : General Manager Yu</span></li>
          <li><i class="fa fa-angle-right"></i><span>E-Mail : <a href="mailto:info@tiekangmachinery.com">info@tiekangmachinery.com</a></span></li>
          <li><i class="fa fa-angle-right"></i><span>Addr : Luquan District, Shijiazhuang City, Hebei Prov, China</span></li>
        </ul>
      </div>
    </footer>
    <div class="dishequ">
      <a href="https://www.facebook.com/HEBEI-TieKang-Machinery-equipment-CO-Ltd-544725522716744" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
      <a href="https://www.linkedin.com/company/19140055/admin/" class="fa fa-linkedin" target="_blank" rel="nofollow"></a>
      <a href="https://twitter.com/PingYu33014387" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
      <h2>protable temping pickaxe machine,Portable tamping machine Production Line Equipment manufacturers</h2>
    </div>
    <script type="text/javascript" src="/public/javascripts/gbook.js"></script>
    <script type="text/javascript" src="/public/javascripts/owl.carousel.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".item").click(function(event) {
          window.location = window.location.href + "products";
        });
      });
    </script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/flickerplate.css">
  </body>
</html>