<!DOCTYPE html>
<html>
  <head>
    <title>Tiekang Machinery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131753800-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131753800-19');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Portable Tamping Rammer Machine Supplier ,Portable Tamping Pickaxe Supplier | Tiekang Machinery</title>
    <meta name="keywords" content="Portable Tamping Rammer Machine Supplier ,Portable Tamping Pickaxe Supplier | Tiekang Machinery">
    <meta name="description" content="Hebei Tiekang Machinery Equipment Co., Ltd. established in 2015, specializes in the development and production of portable tamping machines.">
    <meta http-equiv="expires" content="12/23/2018 9:57:29 PM">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/tiekang.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/style.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/slider-pro.css">

  </head>

  <body>
    <div class="zt ov topp">
      <div class="fl logo">
        <a href="/">
          <%= image_tag("logo.jpg", alt: "Hebei Tiekang Machinery Equipment Co., Ltd.", class: "fl", style: "height: 90; width: 90px") %>
          <span class="fl">Hebei Tiekang Machinery & Equipment Co., Ltd.</span>
        </a>
      </div>
      <div class="fr shequ">
        <a class="md-trigger" data-modal="modal-10" href="#">
          <%= image_tag("sou.jpg") %>
        </a>
        <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
        <a href="https://plus.google.com" class="fa fa-google-plus" target="_blank" rel="nofollow"></a>
        <a href="https://www.pinterest.com" class="fa fa-pinterest-p" target="_blank" rel="nofollow"></a>
        <a href="https://twitter.com" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
      </div>
      <div class="md-modal md-effect-10" id="modal-10">
        <div class="md-content">
          <h3>Search Product</h3>
          <div>
            <p>Search here for what you are looking for:</p>
            <ul>
              <li>
                <form id="form0">
                  <input type="text" class="messtex" placeholder="Search..." name="keys" id="keys">
                  <input type="hidden" name="path0" id="path0" value="/">
                  <input type="button" value="GO" class="gogo" onclick="searchsubmit();">
                </form>
              </li>
              <li>
                <strong>Hot:</strong>
                <a href="/Portable-Tamping-Pickaxe/Portable-Tamping-Pickaxe-1.html">Portable Tamping Pickaxe</a>
              </li>
            </ul>
            <button class="md-close">Close me!</button>
          </div>
        </div>
      </div>
      <div class="md-overlay"></div>
    </div>
    <nav>
      <div class="caidan">
        <span class="fa fa-bars"></span>
      </div>
      <ul class="zt">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to "Company", controller: "welcome", action: "company" %></li>
        <li>
          <%= link_to "Products", controller: "welcome", action: "products" %><i class="fa fa-angle-down"></i>
          <div class="xla">
            <%= link_to "Portable Tamping Pickaxe", controller: "welcome", action: "portable_tamping_pickaxe" %>
          </div>
        </li>
        <li><%= link_to "Factory", controller: "welcome", action: "factory" %></li>
        <li><%= link_to "News", controller: "welcome", action: "news" %></li>
        <li><%= link_to "Certificate", controller: "welcome", action: "case" %></li>
        <li><%= link_to "Contact Us", controller: "welcome", action: "contact_us" %></li>
      </ul>
    </nav>

    <div class="neiban" style="background: url(/public/images/banner1.jpg ) 50% 50% no-repeat;"></div>
    <div class="mbx">
      <div class="zt">
        <i class="fa fa-home"></i>
        <a href="/">Home</a> - <%= link_to "News", controller: "welcome", action: "news" %>
      </div>
    </div>
    <div class="zt abnei">
     <h1>Buy portable tamping machines</h1>
     <div class="xiangq">
      <p>
        The <a href="/portable_tamping_pickaxe"><b>portable electric tamping</b></a> pick is a small road maintenance machine for railway track bed maintenance.
        It is mainly used for tamping operation of stone ballast bed. It is convenient and quick to change the equipment up and down the road, and is easy to operate.

      <div style="">
        <%= image_tag("20190416.jpg", alt: "", style: ";display: block;margin:auto;") %>
      </div>

      <p>
        FAQ:
      </p>
      <p>
        Q:How to guarantee your product quality?
      </p>
      <p>
        A:Our factory supplied high quality railway measuring and maintenance tools for many years, we have very strict inspecting rules during the producing and before packing.also we provide good after-sales service
      </p>
      <p>
        Q2:What about the delivering time?
      </p>
      <p>
        A:Don’t worry about the time. We have enough stock. Less than 10sets,we will delivery after receipt of the payment. From 10-50sets .it will tack 7 days. More than 50sets.need 15days.
      </p>
      <p>
        Q3: Can we have our own logo/brand on the products?
      </p>
        A:Yes,of course
      <p>
        Q4: Where is our factory located? How can I visit there?
      </p>
      <p>
        A:Our factory is located in Shijiazhuang ,Hebei Province, China. You are warmly welcomed to visit us.
      </p>
      <p>
        our company as a  <a href="/"><b>portable tamping machines Manufacturer</b></a>,if you need that pls contact us.
      </p>
     </div>
    </div>

    <div class="messa">
      <div class="zt ov">
        <div class="fl mestit">
        <h2>MESSAGE</h2>
        <span>If you have any questions, please contact us</span> </div>
        <div class="fr messanei">
          <%= form_tag({controller: "welcome", action: "message"}, method: "get", id: "form2") do %>
            <input type="tel" placeholder="Tel" name="Tel" id="ContactWay2" class="tt fl">
            <input type="email" placeholder="Email" name="Email" id="Email2" class="tt fl">
            <textarea class="neir" placeholder="Content" name="Content" id="Content2"></textarea>
            <input type="hidden" name="Paths" id="Paths2" value="/">
            <input type="hidden" name="Product" value="Hebei Tiekang Machinery Equipment Co., Ltd">
            <input type="submit" class="fl tijiao" id="" value="SEND">
          <% end %>
        </div>
      </div>
    </div>
    <footer>
      <div class="zt ov">
        <ul class="fl daohang">
          <li><a href="/"><i class="fa fa-angle-right"></i>Home</a></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Company'), controller: "welcome", action: "company" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Products'), controller: "welcome", action: "products" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Factory'), controller: "welcome", action: "factory" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>News'), controller: "welcome", action: "news" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Certificate'), controller: "welcome", action: "case" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Contact-Us'), controller: "welcome", action: "contact_us" %></li>
        </ul>
        <ul class="fl daohang">
          <li>
            <%= link_to raw('<i class="fa fa-angle-right"></i>Portable Tamping Pickaxe'), controller: "welcome", action: "portable_tamping_pickaxe" %>
          </li>
        </ul>
        <ul class="fr xinxi">
          <li><i class="fa fa-angle-right"></i><span>Hebei Tiekang Machinery Equipment Co., Ltd.</span></li>
          <li><i class="fa fa-angle-right"></i><span>Tel : +86-13933089519</span></li>
          <li><i class="fa fa-angle-right"></i><span>Mobile : +86-13933089519</span></li>
          <li><i class="fa fa-angle-right"></i><span>Contact : General Manager Yu</span></li>
          <li><i class="fa fa-angle-right"></i><span>E-Mail : <a href="mailto:info@tiekangmachinery.com">info@tiekangmachinery.com</a></span></li>
          <li><i class="fa fa-angle-right"></i><span>Addr : Luquan District, Shijiazhuang City, Hebei Prov, China</span></li>
        </ul>
      </div>
    </footer>
    <div class="dishequ">
      <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
      <a href="https://plus.google.com" class="fa fa-google-plus" target="_blank"></a>
      <a href="https://www.pinterest.com" class="fa fa-pinterest-p" target="_blank"></a>
      <a href="https://twitter.com" class="fa fa-twitter" target="_blank"></a>
      <h2>protable temping pickaxe machine,Portable tamping machine Production Line Equipment manufacturers</h2>
    </div>
    <script type="text/javascript" src="/public/javascripts/gbook.js"></script>
    <script type="text/javascript">
      // var polyfilter_scriptpath = '/public/javascripts/';
      // $(".caidan").click(function() {
      //   $("nav ul").slideToggle(500);
      // })
      // $("nav ul li i").click(function() {
      //   $(this).siblings("div.xla").slideToggle(500);
      // })
      // $(function() {
      //  $('#owl1').owlCarousel({
      //   items: 3,
      //   lazyLoad: true,
      //   autoPlay: true,
      //   navigation: true,
      //   itemsDesktop: [1199, 3],
      //   itemsDesktopSmall: [979, 2],
      //   itemsTablet: [768, 2],
      //   itemsMobile: [479, 1],
      //   pagination: false,
      //  });
      // })
      // $(document).ready(function() {
      //  $('.flicker-example').flicker();
      // });
    </script>
    <script type="text/javascript" src="/public/javascripts/owl.carousel.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".item").click(function(event) {
          window.location = window.location.href + "products";
        });
      });
    </script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/flickerplate.css">
  </body>
</html>