<!DOCTYPE html>
<html>
  <head>
    <title>Tiekang Machinery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131753800-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131753800-19');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Portable Tamping Rammer Machine Supplier ,Portable Tamping Pickaxe Supplier | Tiekang Machinery</title>
    <meta name="keywords" content="Portable Tamping Rammer Machine Supplier ,Portable Tamping Pickaxe Supplier | Tiekang Machinery">
    <meta name="description" content="Hebei Tiekang Machinery Equipment Co., Ltd. established in 2015, specializes in the development and production of portable tamping machines.">
    <meta http-equiv="expires" content="12/23/2018 9:57:29 PM">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/tiekang.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/style.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/slider-pro.css">

  </head>

  <body>
    <div class="zt ov topp">
      <div class="fl logo">
        <a href="/">
          <%= image_tag("logo.jpg", alt: "Hebei Tiekang Machinery Equipment Co., Ltd.", class: "fl", style: "height: 90; width: 90px") %>
          <span class="fl">Hebei Tiekang Machinery & Equipment Co., Ltd.</span>
        </a>
      </div>
      <div class="fr shequ">
        <a class="md-trigger" data-modal="modal-10" href="#">
          <%= image_tag("sou.jpg") %>
        </a>
        <a href="https://www.facebook.com/HEBEI-TieKang-Machinery-equipment-CO-Ltd-544725522716744" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
        <a href="https://www.linkedin.com/company/19140055/admin/" class="fa fa-linkedin" target="_blank" rel="nofollow"></a>
        <a href="https://twitter.com/PingYu33014387" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
      </div>
      <div class="md-modal md-effect-10" id="modal-10">
        <div class="md-content">
          <h3>Search Product</h3>
          <div>
            <p>Search here for what you are looking for:</p>
            <ul>
              <li>
                <form id="form0">
                  <input type="text" class="messtex" placeholder="Search..." name="keys" id="keys">
                  <input type="hidden" name="path0" id="path0" value="/">
                  <input type="button" value="GO" class="gogo" onclick="searchsubmit();">
                </form>
              </li>
              <li>
                <strong>Hot:</strong>
                <a href="/Portable-Tamping-Pickaxe/Portable-Tamping-Pickaxe-1.html">Portable Tamping Pickaxe</a>
              </li>
            </ul>
            <button class="md-close">Close me!</button>
          </div>
        </div>
      </div>
      <div class="md-overlay"></div>
    </div>
    <nav>
      <div class="caidan">
        <span class="fa fa-bars"></span>
      </div>
      <ul class="zt">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to "Company", controller: "welcome", action: "company" %></li>
        <li>
          <%= link_to "Products", controller: "welcome", action: "products" %><i class="fa fa-angle-down"></i>
          <div class="xla">
            <%= link_to "Portable Tamping Pickaxe", controller: "welcome", action: "portable_tamping_pickaxe" %>
          </div>
        </li>
        <li><%= link_to "Factory", controller: "welcome", action: "factory" %></li>
        <li><%= link_to "News", controller: "welcome", action: "news" %></li>
        <li><%= link_to "Certificate", controller: "welcome", action: "case" %></li>
        <li><%= link_to "Contact Us", controller: "welcome", action: "contact_us" %></li>
      </ul>
    </nav>

    <div class="flicker-example flickerplate animate-transition-slide flicker-theme-light" data-block-text="false" data-flick-position="1">
      <div class="dot-navigation center">
        <ul>
          <li>
            <div class="dot"></div>
          </li>
          <li>
            <div class="dot active"></div>
          </li>
          <li>
            <div class="dot"></div>
          </li>
        </ul>
      </div>
      <div class="arrow-navigation left">
        <div class="arrow"></div>
      </div>
      <div class="arrow-navigation right">
        <div class="arrow"></div>
      </div>
      <ul class="flicks" style="left:-100%;">
        <li data-background="/public/images/banner1.jpg" alt="Products" class="first-flick" style="background-image: url('/public/images/banner1.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
              <%= link_to "Products", controller: "welcome", action: "products" %>
            </div>
          </div>
        </li>
        <li data-background="/public/images/banner2.jpg" alt="Products" style="background-image: url('/public/images/banner2.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
            </div>
          </div>
        </li>
        <li data-background="/public/images/banner2.jpg" alt="Products" style="background-image: url('/public/images/banner2.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
              <%= link_to "Products", controller: "welcome", action: "products" %>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="mbx">
      <div class="zt">
        <i class="fa fa-home"></i>
        <a href="/">Home</a> - <%= link_to "News", controller: "welcome", action: "news" %>
      </div>
    </div>
    <div class="zt abnei ov">
      <div class="protit">News</div>
      <div class="newul">
        <ul>
          <li>
            <a href="/news/20190713">
              <div class="fl riqi2"><span>26</span><span>2019-07-13</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Wholesale China Tamping Pickaxe of Equipment </h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Portable Petrol Tamping Picking</b></a>Internal combustion rock drill has drilling holes in mining, building construction, cement pavement, asphalt pavement, etc. Various cracking, breaking, tamping, shovel and other work can be widely used in mining, construction, fire fighting, geological exploration, road construction, quarrying, construction, country anti-engineering, etc.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190710">
              <div class="fl riqi2"><span>25</span><span>2019-07-10</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Railway Equipment Portable Tamping Pickaxe</h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Pickaxe</b></a> internal combustion vibrator， centrifugal clutch, the rubber shock absorption, the regularity of vibration, let the machine to produce high frequency tamping effect, make orbital stones more closely; compact structure, small volume, light weight.

                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190708">
              <div class="fl riqi2"><span>24</span><span>2019-07-08</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>railway equipment tamping machine </h2>
                <span>
                  This Factory directly sale <a href="/Portable-Tamping-Pickaxe"><b>railway equipment tamping machine</b></a>operated for tamping operation for railway line or switch;
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190707">
              <div class="fl riqi2"><span>23</span><span>2019-07-07</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>railway equipment Portable tamping machine</h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Pickaxe</b></a> internal combustion vibrator， centrifugal clutch, the rubber shock absorption, the regularity of vibration, let the machine to produce high frequency tamping effect, make orbital stones more closely; compact structure, small volume, light weight.

                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190706">
              <div class="fl riqi2"><span>22</span><span>2019-07-06</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>China Tamping Pickaxe of Equipment</h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Pickaxe</b></a>
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190704">
              <div class="fl riqi2"><span>21</span><span>2019-07-04</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Portable Tamping Pickaxe Supplier</h2>
                <span>
                  This <a href="/Portable-Tamping-Pickaxe"><b>portable high efficient tamping machine</b></a> is suitable for breaking and tamping the track of different conditions, with characteristics of compact structure, less weight, high efficiency, easy operation, saving labor and good shock absorption. This product has passed Railways Product Certification Center (CRCC) certification.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190621">
              <div class="fl riqi2"><span>20</span><span>2019-06-21</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>railway ballast tamper rail tamping rammer machine </h2>
                <span>
                  The <a href="/Portable-Tamping-Pickaxe"><b>portable tamping pickaxe</b></a> designed and produced by HEBEI TieKang Machinery equipment CO., Ltd is applicable to the ballast tamping of mountain railways without power supply and inconvenient transportation, thus producing great economic benefits.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190617">
              <div class="fl riqi2"><span>19</span><span>2019-06-17</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Portable Railway equipment tamper tamping pick for sale</h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Pickaxe</b></a> is applicable to any rail type line maintenance ballast tamping operation.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190615">
              <div class="fl riqi2"><span>18</span><span>2019-06-15</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Portable Railway Ballast Tamper Internal combustion tamping picks</h2>
                <span>
                  Introduction of <a href="/Portable-Tamping-Pickaxe"><b>Portable Railway Ballast Tamper Gasoline Engine Rail Tamping Tool</b></a>
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190610">
              <div class="fl riqi2"><span>17</span><span>2019-06-10</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>
                  Good quality Portable Tamping Pickaxe
                </h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Pickaxe</b></a> a small road suitable for railway track maintenance machinery, mainly used for ballast track tamping homework. Its novel design, compact structure, is a kind of way rapidly up and down, stamping equipment, convenient operation is particularly suited to switch tamping homework.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190606">
              <div class="fl riqi2"><span>16</span><span>2019-06-06</span><span>MORE</span></div>
              <div class="fr newxin">Portable Ballast Tamping Pickaxe </h2>
                <span>
                  Details:
                  1.The electric tamping machine is suitable for the tamping operation of railway lines, mainly consisting of generators, walking frames and four DG3.5B electric pickaxes.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190603">
              <div class="fl riqi2"><span>15</span><span>2019-06-03</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Tamping Pickaxe for Railway Maintenance</h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Tamping Pickaxe</b></a> is characterized by strong power, reliable operation, no external energy, special isolation protective housing and the overall operation handle.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190530">
              <div class="fl riqi2"><span>14</span><span>2019-05-30</span><span>MORE</span></div>
              <div class="fr newxin">Railway Maintenance Work </h2>
                <span>
                  The regular maintenance of the railway line and the large and medium repair of the line.
                  Regular maintenance includes comprehensive maintenance (planned maintenance), emergency rest, key disease remediation and patrol work.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190527">
              <div class="fl riqi2"><span>13</span><span>2019-05-27</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Portable Rail Tamping Machine Manufacturers</h2>
                <span>
                  The <a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Machine</b></a> model VPS is designed to perform occasional ballast tamping under all type of railway sleepers (wooden, concrete or steel).
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190522">
              <div class="fl riqi2"><span>12</span><span>2019-05-22</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Portable Tamping Pickaxe Online</h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Pickaxe</b></a>is characterized by strong power, reliable operation, no external energy, special isolation protective housing and the overall operation handle.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/">
              <div class="fl riqi2"><span>11</span><span>2019-05-20</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>portable high efficient tamping machine For Sale</h2>
                <span>
                  This <a href="/Portable-Tamping-Pickaxe">is suitable for breaking and tamping the track of different conditions, with characteristics of compact structure, less weight, high efficiency, easy operation, saving labor and good shock absorption. This product has passed Railways Product Certification Center (CRCC) certification.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190516">
              <div class="fl riqi2"><span>10</span><span>2019-05-16</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Professional internal combustion petrol rail tamping machine </h2>
                <span>
                  This <a href="/Portable-Tamping-Pickaxe"><b>portable high efficient tamping machine</b></a>is suitable for breaking and tamping the track of different conditions, with characteristics of compact structure, less weight, high efficiency, easy operation, saving labor and good shock absorption. This product has passed railways product certification center(CRCC) certification.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190514">
              <div class="fl riqi2"><span>09</span><span>2019-05-14</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>portable high efficient tamping machine</h2>
                <span>
                  This <a href="/Portable-Tamping-Pickaxe"><b>portable high efficient tamping machine</b></a> is mainly composed of gasoline engine, the vibration damping device, a transmission axis, a vibration body and hand, constitute a complete independence of handheld tamping machine, neither the long cables, no heavy soft shaft, compact and reasonable structure, easy to use.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190510">
              <div class="fl riqi2"><span>08</span><span>2019-05-10</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>high speed rail Portable Railway Tamper</h2>
                <span>
                  This <a href="/Portable-Tamping-Pickaxe"><b>portable high efficient tamping machine</b></a>is suitable for breaking and tamping the track of different conditions, with characteristics of compact structure, less weight, high efficiency, easy operation, saving labor and good shock absorption. This product has passed Railways Product Certification Center (CRCC) certification.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190507">
              <div class="fl riqi2"><span>07</span><span>2019-05-07</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Portable Tamping Pickaxe China </h2>
                <span>
                  The <a href="/Portable-Tamping-Pickaxe"><b>portable tamping pickaxe</b></a> designed and produced by HEBEI TieKang Machinery equipment CO., Ltd is applicable to the ballast tamping of mountain railways without power supply and inconvenient transportation, thus producing great economic benefits.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190426">
              <div class="fl riqi2"><span>06</span><span>2019-04-26</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>railway maintenance device portable electrical tamping machine</h2>
                <span>
                  This <a href="/Portable-Tamping-Pickaxe"><b>portable electrical tamping machine</b></a>is mainly composed of gasoline engine, the vibration damping device, a transmission axis, a vibration body and hand, constitute a complete independence of handheld tamping machine, neither the long cables, no heavy soft shaft,compact and reasonable structure, easy to use.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190423">
              <div class="fl riqi2"><span>06</span><span>2019-04-26</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Buy portable tamping machines</h2>
                <span>
                  The <a href="/Portable-Tamping-Pickaxe"><b>portable electric tamping pick</b></a> is a small road maintenance machine for railway track bed maintenance.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190418">
              <div class="fl riqi2"><span>04</span><span>2019-04-18</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>wholesale Portable Tamping Pickaxe</h2>
                <span>
                  <a href="/Portable-Tamping-Pickaxe"><b>Portable Tamping Pickaxe Details</b></a>
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190416">
              <div class="fl riqi2"><span>03</span><span>2019-04-16</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Buy portable tamping machines</h2>
                <span>
                  The <a href="/Portable-Tamping-Pickaxe"><b>portable electric tamping</b></a>
                  pick is a small road maintenance machine for railway track bed maintenance.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190410-1">
              <div class="fl riqi2"><span>02</span><span>2019-04-12</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>wholesale Portable Tamping Pickaxe </h2>
                <span>
                  Portable Tamping Pickaxe  Feature:
                  It is used to clearing of concrete damaged road,manhole covers in the field of road and public project.
                </span>
              </div>
            </a>
          </li>
          <li>
            <a href="/news/20190412-1">
              <div class="fl riqi2"><span>01</span><span>2019-04-10</span><span>MORE</span></div>
              <div class="fr newxin">
                <h2>Portable Tamping Pickaxe supplier</h2>
                <span>
                  This portable high efficient tamping machine is suitable for breaking and tamping the track of different conditions, with characteristics of compact structure, less weight, high efficiency, easy operation, saving labor and good shock absorption. This product has passed Railways Product Certification Center (CRCC) certification.
                </span>
              </div>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
        <!-- <div class="fenye">
          <span class="fenye_a">Home page</span>
          <span class="fenye_a">Previous page</span>
          <span class="fenye_a">
            <font color="red">1</font>
          </span>
          <span>
            <a href="/News/News-3-2.html">2</a>
          </span>
          <span>
            <a href="/News/News-3-3.html">3</a>
          </span>
          <span>
            <a href="/News/News-3-4.html">4</a>
          </span>
          <span>
            <a href="/News/News-3-5.html">5</a>
          </span>
          <span>
            <a href="/News/News-3-6.html">6</a>
          </span>
          <span>
            <a href="/News/News-3-2.html">Next page</a>
          </span>
          <span>
            <a href="/News/News-3-8.html">Last page</a>
          </span>
        </div> -->
      </div>
    </div>




    <div class="messa">
      <div class="zt ov">
        <div class="fl mestit">
        <h2>MESSAGE</h2>
        <span>If you have any questions, please contact us</span> </div>
        <div class="fr messanei">
          <%= form_tag({controller: "welcome", action: "message"}, method: "get", id: "form2") do %>
            <input type="tel" placeholder="Tel" name="Tel" id="ContactWay2" class="tt fl">
            <input type="email" placeholder="Email" name="Email" id="Email2" class="tt fl">
            <textarea class="neir" placeholder="Content" name="Content" id="Content2"></textarea>
            <input type="hidden" name="Paths" id="Paths2" value="/">
            <input type="hidden" name="Product" value="Hebei Tiekang Machinery Equipment Co., Ltd">
            <input type="submit" class="fl tijiao" id="" value="SEND">
          <% end %>
        </div>
      </div>
    </div>
    <footer>
      <div class="zt ov">
        <ul class="fl daohang">
          <li><a href="/"><i class="fa fa-angle-right"></i>Home</a></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Company'), controller: "welcome", action: "company" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Products'), controller: "welcome", action: "products" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Factory'), controller: "welcome", action: "factory" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Certificate'), controller: "welcome", action: "news" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Case'), controller: "welcome", action: "case" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Contact-Us'), controller: "welcome", action: "contact_us" %></li>
        </ul>
        <ul class="fl daohang">
          <li>
            <%= link_to raw('<i class="fa fa-angle-right"></i>Portable Tamping Pickaxe'), controller: "welcome", action: "portable_tamping_pickaxe" %>
          </li>
        </ul>
        <ul class="fr xinxi">
          <li><i class="fa fa-angle-right"></i><span>Hebei Tiekang Machinery Equipment Co., Ltd.</span></li>
          <li><i class="fa fa-angle-right"></i><span>Tel : +86-13933089519</span></li>
          <li><i class="fa fa-angle-right"></i><span>Mobile : +86-13933089519</span></li>
          <li><i class="fa fa-angle-right"></i><span>Contact : General Manager Yu</span></li>
          <li><i class="fa fa-angle-right"></i><span>E-Mail : <a href="mailto:info@tiekangmachinery.com">info@tiekangmachinery.com</a></span></li>
          <li><i class="fa fa-angle-right"></i><span>Addr : Luquan District, Shijiazhuang City, Hebei Prov, China</span></li>
        </ul>
      </div>
    </footer>
    <div class="dishequ">
      <a href="https://www.facebook.com/HEBEI-TieKang-Machinery-equipment-CO-Ltd-544725522716744" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
      <a href="https://www.linkedin.com/company/19140055/admin/" class="fa fa-linkedin" target="_blank" rel="nofollow"></a>
      <a href="https://twitter.com/PingYu33014387" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
      <h2>protable temping pickaxe machine,Portable tamping machine Production Line Equipment manufacturers</h2>
    </div>
    <script type="text/javascript" src="/public/javascripts/gbook.js"></script>
    <script type="text/javascript">
      // var polyfilter_scriptpath = '/public/javascripts/';
      // $(".caidan").click(function() {
      //   $("nav ul").slideToggle(500);
      // })
      // $("nav ul li i").click(function() {
      //   $(this).siblings("div.xla").slideToggle(500);
      // })
      // $(function() {
      //  $('#owl1').owlCarousel({
      //   items: 3,
      //   lazyLoad: true,
      //   autoPlay: true,
      //   navigation: true,
      //   itemsDesktop: [1199, 3],
      //   itemsDesktopSmall: [979, 2],
      //   itemsTablet: [768, 2],
      //   itemsMobile: [479, 1],
      //   pagination: false,
      //  });
      // })
      // $(document).ready(function() {
      //  $('.flicker-example').flicker();
      // });
    </script>
    <script type="text/javascript" src="/public/javascripts/owl.carousel.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".item").click(function(event) {
          window.location = window.location.href + "products";
        });
      });
    </script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/flickerplate.css">
  </body>
</html>