<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- 铁康 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131753800-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131753800-19');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>portable tamping machines manufacturer ,Portable Tamping Pickaxe Online |Tiekang Machinery</title>
    <meta name="keywords" content="portable tamping machines manufacturer ,Portable Tamping Pickaxe Online |Tiekang Machinery">
    <meta name="description" content="Our company as a Wholesale portable tamping machines manufacturer ,provide Portable Tamping Pickaxe Online,if you need that pls contact us.">
    <meta http-equiv="expires" content="12/23/2018 9:57:29 PM">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/tiekang.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/style.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/slider-pro.css">

  </head>

  <body>
    <div class="zt ov topp">
      <div class="fl logo">
        <a href="/">
          <%= image_tag("logo.jpg", alt: "Hebei Tiekang Machinery Equipment Co., Ltd.", class: "fl", style: "height: 90; width: 90px") %>
          <span class="fl">Hebei Tiekang Machinery & Equipment Co., Ltd.</span>
        </a>
      </div>
      <div class="fr shequ">
        <a class="md-trigger" data-modal="modal-10" href="#">
          <%= image_tag("sou.jpg") %>
        </a>
        <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
        <a href="https://plus.google.com" class="fa fa-google-plus" target="_blank" rel="nofollow"></a>
        <a href="https://www.pinterest.com" class="fa fa-pinterest-p" target="_blank" rel="nofollow"></a>
        <a href="https://twitter.com" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
      </div>
      <div class="md-modal md-effect-10" id="modal-10">
        <div class="md-content">
          <h3>Search Product</h3>
          <div>
            <p>Search here for what you are looking for:</p>
            <ul>
              <li>
                <form id="form0">
                  <input type="text" class="messtex" placeholder="Search..." name="keys" id="keys">
                  <input type="hidden" name="path0" id="path0" value="/">
                  <input type="button" value="GO" class="gogo" onclick="searchsubmit();">
                </form>
              </li>
              <li>
                <strong>Hot:</strong>
                <a href="/Portable-Tamping-Pickaxe/Portable-Tamping-Pickaxe-1.html">Portable Tamping Pickaxe</a>
              </li>
            </ul>
            <button class="md-close">Close me!</button>
          </div>
        </div>
      </div>
      <div class="md-overlay"></div>
    </div>
    <nav>
      <div class="caidan">
        <span class="fa fa-bars"></span>
      </div>
      <ul class="zt">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to "Company", controller: "welcome", action: "company" %></li>
        <li>
          <%= link_to "Products", controller: "welcome", action: "products" %><i class="fa fa-angle-down"></i>
          <div class="xla">
            <%= link_to "Portable Tamping Pickaxe", controller: "welcome", action: "portable_tamping_pickaxe" %>
          </div>
        </li>
        <li><%= link_to "Factory", controller: "welcome", action: "factory" %></li>
        <li><%= link_to "News", controller: "welcome", action: "news" %></li>
        <li><%= link_to "Certificate", controller: "welcome", action: "case" %></li>
        <li><%= link_to "Contact Us", controller: "welcome", action: "contact_us" %></li>
      </ul>
    </nav>
    <div class="flicker-example flickerplate animate-transition-slide flicker-theme-light" data-block-text="false" data-flick-position="1">
      <div class="dot-navigation center">
        <ul>
          <li>
            <div class="dot"></div>
          </li>
          <li>
            <div class="dot active"></div>
          </li>
          <li>
            <div class="dot"></div>
          </li>
        </ul>
      </div>
      <div class="arrow-navigation left">
        <div class="arrow"></div>
      </div>
      <div class="arrow-navigation right">
        <div class="arrow"></div>
      </div>
      <ul class="flicks" style="left:-100%;">
        <li data-background="/public/images/banner1.jpg" alt="Products" class="first-flick" style="background-image: url('/public/images/banner1.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
              <%= link_to "Products", controller: "welcome", action: "products" %>
            </div>
          </div>
        </li>
        <li data-background="/public/images/banner2.jpg" alt="Products" style="background-image: url('/public/images/banner2.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
            </div>
          </div>
        </li>
        <li data-background="/public/images/banner2.jpg" alt="Products" style="background-image: url('/public/images/banner2.jpg');">
          <div class="flick-inner">
            <div class="flick-content">
              <%= link_to "Products", controller: "welcome", action: "products" %>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="mbx">
      <div class="zt">
        <i class="fa fa-home"></i>
        <a href="/">Products</a> - <%= link_to "Products", controller: "welcome", action: "products" %>
      </div>
    </div>
    <div class="zt abnei">
      <div class="protit">PRODUCTS</div>
      <div class="ov">
        <div class="fl cplue">
          <div id="example5" class="slider-pro sp-vertical" style="width: 100%; max-width: 550px;">
            <div class="sp-slides-container">
              <div class="sp-mask sp-grab" style="width: 550px; height: 415px;">
                <div class="sp-slides" style="transform: translate3d(0px, -2125px, 0px); transition: transform 0.7s ease 0s;">
                  <div class="sp-slide sp-selected" data-index="5" data-init="true" style="width: 550px; height: 415px; top: 2125px;" data-loaded="true">
                    <div class="sp-image-container" style="width: 550px; height: 415px;"><%= image_tag("prod-2.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: auto; height: 100%; margin-left: 0px; margin-top: 0px;") %></div>
                  </div>
               </div>
              </div>
            </div>
            <div class="sp-thumbnails-container sp-bottom-thumbnails sp-has-pointer" style="width: 518px;">
              <div class="sp-thumbnails sp-grab" style="width: 518px; height: 76px;">
                <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
                  <div class="sp-thumbnail" data-index="0" data-init="true">
                    <div class="sp-thumbnail-image-container">
                      <%= image_tag("prod-2.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                    </div>
                  </div>
                </div>
                <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
                  <div class="sp-thumbnail" data-index="1" data-init="true">
                    <div class="sp-thumbnail-image-container">
                      <%= image_tag("c1.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                    </div>
                  </div>
                </div>
                <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
                  <div class="sp-thumbnail" data-index="2" data-init="true">
                    <div class="sp-thumbnail-image-container">
                      <%= image_tag("c3.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                    </div>
                  </div>
                </div>
                <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
                  <div class="sp-thumbnail" data-index="3" data-init="true">
                    <div class="sp-thumbnail-image-container">
                      <%= image_tag("factory.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                    </div>
                  </div>
                </div>
                <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
                  <div class="sp-thumbnail" data-index="4" data-init="true">
                    <div class="sp-thumbnail-image-container">
                      <%= image_tag("prod-3.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                    </div>
                  </div>
                </div>
                <div class="sp-thumbnail-container sp-selected-thumbnail" data-loaded="true" style="width: 83px; height: 76px;">
                  <div class="sp-thumbnail" data-index="5" data-init="true">
                    <div class="sp-thumbnail-image-container">
                      <%= image_tag("demo.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fr jianmiao">
          <h1>Portable Tamping Pickaxe</h1>
          <div class="cpmiao">
            The portable tamping pickaxe designed and produced by HEBEI TieKang Machinery equipment CO., Ltd is applicable to the ballast tamping of mountain railways without power supply and inconvenient transportation, thus producing great economic benefits. The design of the rolling cone type vibrator is compact, light weighted and has reasonable structure, small size, and is convenient way up and down. It can effectively increase the exciting force, improve the continuous working hours, and make the maintenance more intuitive. Its ergonomic design improves the working environment, and make the operation more convenient.&nbsp;
          </div>
          <div class="cpshequ">
            <a href="https://www.facebook.com/WXGypsumBoardMachine/" class="fa fa-facebook" target="_blank"></a>
            <a href="/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.pinterest.com/wuxingmachinery" class="fa fa-pinterest-p" target="_blank"></a>
            <a href="https://twitter.com/WuXingMachinery" class="fa fa-twitter" target="_blank"></a>
            <!-- <a class="md-trigger" data-modal="modal-5" href="#">MESSAGE</a> -->
            <div class="md-modal md-effect-5" id="modal-5">
              <div class="md-content">
                <h3>MESSAGE</h3>
                <div>
                  <form class="foe2" id="form1">
                    <input type="text" class="tex21" placeholder="Name" name="Contact" id="Contact1">
                    <input type="text" class="tex21" placeholder="Tel" name="ContactWay" id="ContactWay1">
                    <input type="text" class="tex21" placeholder="Email" name="Email" id="Email1">
                    <textarea placeholder="Content" name="Content" id="Content1" class="aatex21"></textarea>
                    <input type="hidden" name="Paths" id="Paths1" value="/">
                    <input type="hidden" name="Product" value="Light Mineral Wool Board Production Line Equipment">
                    <input type="button" value="SEND" id="gbooks" class="but121">
                  </form>
                  <button class="md-close">Close me!</button>
                </div>
              </div>
            </div>
            <div class="md-overlay"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="xiangq">
        <p>
          <strong>Portable Tamping Pickaxe</strong><br>
        The portable tamping pickaxe designed and produced by HEBEI TieKang Machinery equipment CO., Ltd is applicable to the ballast tamping of mountain railways without power supply and inconvenient transportation, thus producing great economic benefits. The design of the rolling cone type vibrator is compact, light weighted and has reasonable structure, small size, and is convenient way up and down. It can effectively increase the exciting force, improve the continuous working hours, and make the maintenance more intuitive. Its ergonomic design improves the working environment, and make the operation more convenient.
        </p>
        <p>
          <strong>The main attributes table:</strong>
        </p>
        <br>
        <div class="table">
          <table bordercolor="#cccccc" style="border-collapse:collapse;" border="1" cellspacing="0" cellpadding="0">
            <tbody>
              <tr align="left" valign="middle" bgcolor="#e3e3e3">
                <td height="25">
                  Attribute
                </td>
                <td height="25">
                  Value
                </td>
              </tr>
              <tr align="left" valign="middle">
                <td height="25">
                  Model
                </td>
                <td height="25">
                  ND-4.2
                </td>
              </tr>
              <tr align="left" valign="middle">
                <td height="25">
                  Material
                </td>
                <td height="25">
                  Steel&Aluminum
                </td>
              </tr>
              <tr align="left" valign="middle">
                <td height="25">
                  Exciting Force
                </td>
                <td height="25">
                  >=4.2KN
                </td>
              </tr>
              <tr align="left" valign="middle">
                <td height="25">
                  Power
                </td>
                <td height="25">
                  1.4KW
                </td>
              </tr>
              <tr align="left" valign="middle">
                <td height="25">
                  Acceleration
                </td>
                <td height="25">
                  1400m/s2
                </td>
              </tr>
              <tr align="left" valign="middle">
                <td height="25">
                  Rated Frequency
                </td>
                <td height="25">
                  174HZ
                </td>
              </tr>
              <tr align="left" valign="middle">
                <td height="25">
                  Weight
                </td>
                <td height="25">
                  14.3Kg
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <h2>1.Engine</h2>
        <div class="prod-description">
          <%= image_tag("c1.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            The two-stroke gasoline engine provides 1.4kw of power for the whole machine. In cooperation with Shandong Huasheng, it adopts imported core components and improved gasoline engine with strong power and stable performance.
          </p>
        </div>
        <h2>2.Connecting flexible shaft</h2>
        <div class="prod-description">
          <%= image_tag("c2.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            The power transmission member transmits the torque converter power to the body. Adopting 13mm alloy steel shaft core, through CNC machining and high-frequency quenching process, it has long service life and low heat generation.
          </p>
        </div>
        <h2>3.Shock absorber handle</h2>
        <div class="prod-description">
          <%= image_tag("c10.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            The operator works on the handpiece to cover the weight of the machine and protect the engine. It is made of 304 stainless steel pipe, which is made of shock-absorbing rubber, steel pipe and rubber sleeve. It improves the operator's comfort.
          </p>
        </div>
        <h2>4.Startup Disk</h2>
        <div class="prod-description">
          <%= image_tag("c3.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            Used when the engine is started, it is a wearing part. It is versatile with most two-stroke gasoline engines and has good interchangeability.
          </p>
        </div>
        <h2>5.Passive disk</h2>
        <div class="prod-description">
          <%= image_tag("c5.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            The engine output torque is carried and transmitted to the output shaft. Used in conjunction with the overrunning clutch for versatility.
          </p>
        </div>
        <h2>6.Damping block</h2>
        <div class="prod-description">
          <%= image_tag("c6.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            The core damping member between the excitation body and the engine is responsible for 70% damping performance of the whole machine. Casted from high-quality rubber, it has excellent shock absorption performance and long life, which can protect the engine and improve operator comfort.
          </p>
        </div>
        <h2>7.Torque increaser</h2>
        <div class="prod-description">
          <%= image_tag("c7.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            Patented protection components increase engine output torque, reduce output speed, and reduce engine load. Adopt precision CNC machining technology to improve output performance.
          </p>
        </div>
        <h2>8.Carcass</h2>
        <div class="prod-description">
          <%= image_tag("c9.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            The vibrating and sturdy working end acts on the sarcophagus in a vibrating manner. With the planetary exciter, the vibration frequency and the tip acceleration are significantly better than the eccentric scheme. The manuscript is alloy cast and durable.
          </p>
        </div>
        <h2>8.Centrifugal cone</h2>
        <div class="prod-description">
          <%= image_tag("c4.jpg", :class => "sp-image", :data => {:default => "/public/images/c1.jpg"}, alt: "", style: "width: 40%; height: 100%; margin: auto; display: block;") %>
          <p>
            The core components of the carcass are CNC machined, high frequency processing, low failure rate and excellent excitation effect.
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/public/javascripts/jquery.sliderPro.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function($) {
        $(".sp-thumbnail-container").click(function(event) {
          $(".sp-thumbnail-container").removeClass('sp-selected-thumbnail');
          $(this).addClass('sp-selected-thumbnail');
          var src = $(this).find("img").attr("src");
          $(".sp-slide.sp-selected").find("img").attr("src", src);
        });
      });
    </script>

    <div class="messa">
      <div class="zt ov">
        <div class="fl mestit">
        <h2>MESSAGE</h2>
        <span>If you have any questions, please contact us</span> </div>
        <div class="fr messanei">
          <%= form_tag({controller: "welcome", action: "message"}, method: "get", id: "form2") do %>
            <input type="tel" placeholder="Tel" name="Tel" id="ContactWay2" class="tt fl">
            <input type="email" placeholder="Email" name="Email" id="Email2" class="tt fl">
            <textarea class="neir" placeholder="Content" name="Content" id="Content2"></textarea>
            <input type="hidden" name="Paths" id="Paths2" value="/">
            <input type="hidden" name="Product" value="Hebei Tiekang Machinery Equipment Co., Ltd">
            <input type="submit" class="fl tijiao" id="" value="SEND">
          <% end %>
        </div>
      </div>
    </div>
    <footer>
      <div class="zt ov">
        <ul class="fl daohang">
          <li><a href="/"><i class="fa fa-angle-right"></i>Home</a></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Company'), controller: "welcome", action: "company" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Products'), controller: "welcome", action: "products" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Factory'), controller: "welcome", action: "factory" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>News'), controller: "welcome", action: "news" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Certificate'), controller: "welcome", action: "case" %></li>
          <li><%= link_to raw('<i class="fa fa-angle-right"></i>Contact-Us'), controller: "welcome", action: "contact_us" %></li>
        </ul>
        <ul class="fl daohang">
          <li>
            <%= link_to raw('<i class="fa fa-angle-right"></i>Portable Tamping Pickaxe'), controller: "welcome", action: "portable_tamping_pickaxe" %>
          </li>
        </ul>
        <ul class="fr xinxi">
          <li><i class="fa fa-angle-right"></i><span>Hebei Tiekang Machinery Equipment Co., Ltd.</span></li>
          <li><i class="fa fa-angle-right"></i><span>Tel : +86-13933089519</span></li>
          <li><i class="fa fa-angle-right"></i><span>Mobile : +86-13933089519</span></li>
          <li><i class="fa fa-angle-right"></i><span>Contact : General Manager Yu</span></li>
          <li><i class="fa fa-angle-right"></i><span>E-Mail : <a href="mailto:info@tiekangmachinery.com">info@tiekangmachinery.com</a></span></li>
          <li><i class="fa fa-angle-right"></i><span>Addr : Luquan District, Shijiazhuang City, Hebei Prov, China</span></li>
        </ul>
      </div>
    </footer>
    <div class="dishequ">
      <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
      <a href="https://plus.google.com" class="fa fa-google-plus" target="_blank"></a>
      <a href="https://www.pinterest.com" class="fa fa-pinterest-p" target="_blank"></a>
      <a href="https://twitter.com" class="fa fa-twitter" target="_blank"></a>
      <h2>protable temping pickaxe machine,Portable tamping machine Production Line Equipment manufacturers</h2>
    </div>
    <script type="text/javascript" src="/public/javascripts/gbook.js"></script>
    <script type="text/javascript">
      // var polyfilter_scriptpath = '/public/javascripts/';
      // $(".caidan").click(function() {
      //   $("nav ul").slideToggle(500);
      // })
      // $("nav ul li i").click(function() {
      //   $(this).siblings("div.xla").slideToggle(500);
      // })
      // $(function() {
      //  $('#owl1').owlCarousel({
      //   items: 3,
      //   lazyLoad: true,
      //   autoPlay: true,
      //   navigation: true,
      //   itemsDesktop: [1199, 3],
      //   itemsDesktopSmall: [979, 2],
      //   itemsTablet: [768, 2],
      //   itemsMobile: [479, 1],
      //   pagination: false,
      //  });
      // })
      // $(document).ready(function() {
      //  $('.flicker-example').flicker();
      // });
    </script>
    <script type="text/javascript" src="/public/javascripts/owl.carousel.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".item").click(function(event) {
          window.location = window.location.href + "products";
        });
      });
    </script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/flickerplate.css">
  </body>
</html>
