<div class="neiban" style="background: url(/public/images/banner1.jpg ) 50% 50% no-repeat;"></div>
<div class="mbx">
  <div class="zt">
    <i class="fa fa-home"></i>
    <a href="/">Products</a> - <%= link_to "Products", controller: "welcome", action: "products" %>
  </div>
</div>
<div class="zt abnei">
 <h1>Products</h1>
 <div class="xiangq">
 </div>
 <ul class="main">
  <li>
   <a href="javascript:;" i="/upload/about/month_1802/image/20180201014084918491.jpg?v=001108" class="Slide Two pre" style="cursor: pointer;">
    <%= image_tag("product1.jpeg", alt: "Light Mineral Wool Board Production Line Equipment") %>
    <!-- <div class="fangda"><i class="fa fa-search-plus"></i>
     <p></p>
    </div> -->
   </a>
  </li>
  <li>
   <a href="javascript:;" i="/upload/about/month_1802/image/20180201014084918491.jpg?v=001108" class="Slide Two pre" style="cursor: pointer;">
    <%= image_tag("product2.jpeg", alt: "Light Mineral Wool Board Production Line Equipment") %>
    <!-- <div class="fangda"><i class="fa fa-search-plus"></i>
     <p></p>
    </div> -->
   </a>
  </li>
  <li>
   <a href="javascript:;" i="/upload/about/month_1802/image/20180201014043044304.jpg?v=001108" class="Slide Two pre" style="cursor: pointer;">
    <%= image_tag("product3.jpg", alt: "Light Mineral Wool Board Production Line Equipment") %>
    <!-- <div class="fangda"><i class="fa fa-search-plus"></i>
     <p></p>
    </div> -->
   </a>
  </li>
  <li>
   <a href="javascript:;" i="/upload/about/month_1802/image/20180201014058845884.jpg?v=001108" class="Slide Two pre" style="cursor: pointer;">
    <%= image_tag("product4.jpg", alt: "Light Mineral Wool Board Production Line Equipment") %>
    <!-- <div class="fangda"><i class="fa fa-search-plus"></i>
     <p></p>
    </div> -->
   </a>
  </li>
 </ul>
</div>