<div class="neiban" style="background: url(/public/images/banner1.jpg ) 50% 50% no-repeat;"></div>
<div class="mbx">
  <div class="zt">
    <i class="fa fa-home"></i>
    <a href="/">Products</a> - <%= link_to "Products", controller: "welcome", action: "products" %>
  </div>
</div>
<div class="zt abnei">
  <div class="protit">PRODUCTS</div>
  <div class="ov">
    <div class="fl cplue">
      <div id="example5" class="slider-pro sp-vertical" style="width: 100%; max-width: 550px;">
        <div class="sp-slides-container">
          <div class="sp-mask sp-grab" style="width: 550px; height: 415px;">
            <div class="sp-slides" style="transform: translate3d(0px, -2125px, 0px); transition: transform 0.7s ease 0s;">
              <div class="sp-slide sp-selected" data-index="5" data-init="true" style="width: 550px; height: 415px; top: 2125px;" data-loaded="true">
                <div class="sp-image-container" style="width: 550px; height: 415px;"><%= image_tag("prod-2.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: auto; height: 100%; margin-left: 0px; margin-top: 0px;") %></div>
              </div>
           </div>
          </div>
        </div>
        <div class="sp-thumbnails-container sp-bottom-thumbnails sp-has-pointer" style="width: 518px;">
          <div class="sp-thumbnails sp-grab" style="width: 518px; height: 76px;">
            <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
              <div class="sp-thumbnail" data-index="0" data-init="true">
                <div class="sp-thumbnail-image-container">
                  <%= image_tag("prod-2.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                </div>
              </div>
            </div>
            <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
              <div class="sp-thumbnail" data-index="1" data-init="true">
                <div class="sp-thumbnail-image-container">
                  <%= image_tag("c1.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                </div>
              </div>
            </div>
            <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
              <div class="sp-thumbnail" data-index="2" data-init="true">
                <div class="sp-thumbnail-image-container">
                  <%= image_tag("c3.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                </div>
              </div>
            </div>
            <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
              <div class="sp-thumbnail" data-index="3" data-init="true">
                <div class="sp-thumbnail-image-container">
                  <%= image_tag("c10.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                </div>
              </div>
            </div>
            <div class="sp-thumbnail-container" data-loaded="true" style="width: 83px; height: 76px;">
              <div class="sp-thumbnail" data-index="4" data-init="true">
                <div class="sp-thumbnail-image-container">
                  <%= image_tag("prod-2.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                </div>
              </div>
            </div>
            <div class="sp-thumbnail-container sp-selected-thumbnail" data-loaded="true" style="width: 83px; height: 76px;">
              <div class="sp-thumbnail" data-index="5" data-init="true">
                <div class="sp-thumbnail-image-container">
                  <%= image_tag("c5.jpg", :class => "sp-image", :data => {:default => "/public/images/add.jpg"}, alt: "", style: "width: 100%; height: 100%; margin-left: 0px; margin-top: 0px;") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fr jianmiao">
      <h1>Portable Tamping Pickaxe</h1>
      <div class="cpmiao">
        Mineral wool board mining high quality mineral wool as the main raw material, 100% free of asbestos, acicular dust will not appear, will not enter the body through the respiratory tract, harmless to the human body. The use of composite fiber and mesh base coating, greatly improving the impact resistance, deformation resistance. Mineral wool internal structure was three-dimensional cross-mesh structure, adequate internal space, solid structure, greatly improving their ability to absorb noise and noise than ordinary mineral wool board sound absorption increased by 1 to 2 times. Internal moisture and auxiliary agents to add moisture, both increasing the surface fiber resistance, effective binder stability, to maintain plate strength, and can regulate indoor humidity and improve living environment.&nbsp;
      </div>
      <div class="cpshequ">
        <a href="https://www.facebook.com/WXGypsumBoardMachine/" class="fa fa-facebook" target="_blank"></a>
        <a href="/" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://www.pinterest.com/wuxingmachinery" class="fa fa-pinterest-p" target="_blank"></a>
        <a href="https://twitter.com/WuXingMachinery" class="fa fa-twitter" target="_blank"></a>
        <a class="md-trigger" data-modal="modal-5" href="#">MESSAGE</a>
        <div class="md-modal md-effect-5" id="modal-5">
          <div class="md-content">
            <h3>MESSAGE</h3>
            <div>
              <form class="foe2" id="form1">
                <input type="text" class="tex21" placeholder="Name" name="Contact" id="Contact1">
                <input type="text" class="tex21" placeholder="Tel" name="ContactWay" id="ContactWay1">
                <input type="text" class="tex21" placeholder="Email" name="Email" id="Email1">
                <textarea placeholder="Content" name="Content" id="Content1" class="aatex21"></textarea>
                <input type="hidden" name="Paths" id="Paths1" value="/">
                <input type="hidden" name="Product" value="Light Mineral Wool Board Production Line Equipment">
                <input type="button" value="SEND" id="gbooks" class="but121">
              </form>
              <button class="md-close">Close me!</button>
            </div>
          </div>
        </div>
        <div class="md-overlay"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="xiangq">
    <p>
      <strong>Portable Tamping Pickaxe</strong><br>
    Mineral wool board mining high quality mineral wool as the main raw material, 
    100% free of asbestos, acicular dust will not appear, will not enter the body 
    through the respiratory tract, harmless to the human body. The use of composite 
    fiber and mesh base coating, greatly improving the impact resistance, 
    deformation resistance. Mineral wool internal structure was three-dimensional 
    cross-mesh structure, adequate internal space, solid structure, greatly 
    improving their ability to absorb noise and noise than ordinary mineral wool 
    board sound absorption increased by 1 to 2 times. Internal moisture and 
    auxiliary agents to add moisture, both increasing the surface fiber resistance, 
    effective binder stability, to maintain plate strength, and can regulate indoor 
    humidity and improve living environment. Nano-antibacterial agent flooding the 
    interior of the plate, can effectively mold, sterilization, antibacterial 
    regeneration, greatly improving the scope of application, it can be applied to 
    have the requirements of antibacterial, sterile aseptic environment. The 
    addition of rare earth inorganic composite material enables the mineral wool 
    board to have surface activity, strongly adsorbs and decomposes toxic substances 
    such as formaldehyde generated during the decoration process, and has the 
    chemical property of an ion exchanger so as to effectively increase the 
    concentration of oxygen ions in the air. Greatly improved living space. The 
    addition of expanded perlite with fireproof and heat insulation functions 
    effectively reduces the cost of refrigeration and heating and meets the 
    energy-saving and consumption-reducing needs of people in the new era.
    </p>
    <p>
      <strong>The main raw materials and consumption table: (12 mm thick)</strong> 
    </p>
    <br>
    <div class="table">
      <table bordercolor="#cccccc" style="border-collapse:collapse;" border="1" cellspacing="0" cellpadding="0">
        <tbody>
          <tr align="left" valign="middle" bgcolor="#e3e3e3">
            <td height="25">
              Attribute
            </td>
            <td height="25">
              Amount
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Mineral wool
            </td>
            <td height="25">
              1.35kg/㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Perlite
            </td>
            <td height="25">
              0.65kg/㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Waste paper
            </td>
            <td height="25">
              0.25kg/㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Waterproof glue
            </td>
            <td height="25">
              0.027kg/㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Starch
            </td>
            <td height="25">
              0.27kg/㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Putty powder
            </td>
            <td height="25">
              0.4kg/㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Alumina
            </td>
            <td height="25">
              0.00454 kg/㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Glidant
            </td>
            <td height="25">
              0.0078 kg/㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Natural gas
            </td>
            <td height="25">
              0.75m³
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Power consumption
            </td>
            <td height="25">
              0.58 Degree / ㎡
            </td>
          </tr>
          <tr align="left" valign="middle">
            <td height="25">
              Water consumption
            </td>
            <td height="25">
              8kg/㎡
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <p>
      1. Noise reduction: Mineral wool board to mineral wool as the main raw 
    material, and mineral wool microporous developed to reduce acoustic reflections, 
    echo cancellation, isolated floor noise transmission. The company is located 
    in;
    </p>
    <p>
      2. Sound-absorbing: Mineral wool board is a porous material, composed of 
    numerous pores countless fibers to reduce acoustic reflection, echo 
    cancellation, isolated floor noise transmission. Sound waves impact the surface 
    of the material, part of which is reflected back, partially absorbed by the 
    plate, and a portion of the material passing through the plate into the back 
    cavity, greatly reducing the reflected sound, effectively controlling and 
    adjusting the indoor reverberation time and reducing the noise. When used for 
    interior decoration, the average sound absorption rate of up to 0.5 or more, 
    suitable for offices, schools, shopping malls and other places. The company is 
    located in;
    </p>
    <p>
      3. Sound insulation: Through ceiling materials effectively cut off the noise 
    of each room, creating a quiet indoor environment. The company is located 
    in;
    </p>
    <p>
      4. Fire resistance: To prevent fire is the most important issue of modern 
    public buildings and high-rise building design, mineral wool board is made of 
    non-combustible mineral wool as the main raw material in the event of a fire 
    will not produce combustion, thus effectively preventing the spread of fire , Is 
    the most ideal fire ceiling material. The company is located in;
    </p>
    <p>
      5. Decorative: Mineral wool sound-absorbing board surface treatment forms 
    rich, strong decorative plate. Surface treated knurled mineral wool board, 
    commonly known as "caterpillars", the surface covered with shades, shapes, 
    different pore sizes holes. Another "gypsophila", the surface of different 
    depths of aperture. After milling forming three-dimensional mineral wool board, 
    the surface made into small squares, different width stripes and other forms. 
    There is also a relief-type mineral wool board, after the die-forming, beautiful 
    surface pattern, the center flowers, cross flowers, walnut lines and other 
    shapes, is a good decorative ceiling profiles.
    </p>
    <p>
      <br>
    </p>
  </div>
</div>
<script type="text/javascript" src="/public/javascripts/jquery.sliderPro.min.js"></script>
<script type="text/javascript">
  $(document).ready(function($) {
    $(".sp-thumbnail-container").click(function(event) {
      $(".sp-thumbnail-container").removeClass('sp-selected-thumbnail');
      $(this).addClass('sp-selected-thumbnail');
      var src = $(this).find("img").attr("src");
      $(".sp-slide.sp-selected").find("img").attr("src", src);
    });
  });
</script>